<%- include('partials/header2') %>


<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Coach Profile: <%= coachName %></h1>
    
    <h2>Coach Information</h2>
    <ul>
      <li><strong>First Name:</strong> <%= coachName.split(" ")[0] %></li>
      <li><strong>Last Name:</strong> <%= coachName.split(" ")[1] %></li>
      <% if (coachAttributes.length > 0) { %>
        <li><strong>Position:</strong> <%= coachAttributes[0].role %></li>
        <li><strong>Nationality:</strong> <%= coachAttributes[0].nationality %></li>
        <li><strong>Height:</strong> <%= coachAttributes[0].height %></li>
        <li><strong>Birth Year:</strong> <%= coachAttributes[0].birthyear %></li>
      <% } else { %>
        <li><em>No information available</em></li>
      <% } %>
    </ul>

    
    <h2>Coach Reviews</h2>
    <h3> There are no reviews yet for this coach.</h3>

    <form action="/submitcoachreview1" method="post">
        <input type="hidden" name="coachName" value="<%= coachName %>">
        <button type="submit" class="btn btn-dark btn-lg px-4 gap-3">Submit a Review</button>
    </form>
  </div>
</div>